<link rel="stylesheet" href="/styles.css">


  <p>Hello, {{user.name}}!</p>

  <nav class="navigation">
      <a class="button" href="/profile">Profile</a>
      <a class="button" href="/snippetlist">My Snippet's</a>
      <a class="button" href="/addsnippet">New Snippet</a>
      <a href="/logout">Logout</a>

  </nav>
</header>

<div class="wrapper">
<h1>Welcome To Code Snippet</h1>

<div class="welcome">

</div>
</div>
